$icons-folder: "../node_modules/@unumux/theme-enterprise-default/icons";

//Can be used in component styling

$icon-menu: (
    icon: url("#{$icons-folder}/menu.svg"),
    height: 18px,
    margin: 5px,
    width: 34px
);

$icon-menu-inverse: (
    icon: url("#{$icons-folder}/menu-inverse.svg"),
    height: 18px,
    margin: 5px,
    width: 34px
);

$icon-menu-close: (
    icon: url("#{$icons-folder}/menu-close.svg"),
    height: 20px,
    margin: 5px,
    width: 20px
);

$icon-menu-close-inverse: (
    icon: url("#{$icons-folder}/menu-close-inverse.svg"),
    height: 20px,
    margin: 5px,
    width: 20px
);

$icon-close: (
    icon: url("#{$icons-folder}/close.svg"),
    height: 44px,
    margin: 10px,
    width: 44px
);

$icon-close-inverse: (
    icon: url("#{$icons-folder}/close-inverse.svg"),
    height: 44px,
    margin: 10px,
    width: 44px
);

$icon-close-small: (
    icon: url("#{$icons-folder}/close-small.svg"),
    height: 14px,
    margin: 10px,
    width: 14px
);

$icon-close-small-inverse: (
    icon: url("#{$icons-folder}/close-small-inverse.svg"),
    height: 14px,
    margin: 10px,
    width: 14px
);

$icon-info: (
    icon: url("#{$icons-folder}/info.svg"),
    height: 26px,
    margin: 5px,
    width: 26px
);

$icon-info-inverse: (
    icon: url("#{$icons-folder}/info-inverse.svg"),
    height: 26px,
    margin: 5px,
    width: 26px
);

$icon-success: (
    icon: url("#{$icons-folder}/success.svg"),
    height: 26px,
    margin: 5px,
    width: 26px
);

$icon-success-inverse: (
    icon: url("#{$icons-folder}/success-inverse.svg"),
    height: 26px,
    margin: 5px,
    width: 26px
);

$icon-warning: (
    icon: url("#{$icons-folder}/warning.svg"),
    height: 25px,
    margin: 5px,
    width: 25px
);

$icon-warning-inverse: (
    icon: url("#{$icons-folder}/warning-inverse.svg"),
    height: 25px,
    margin: 5px,
    width: 26px
);

$icon-error: (
    icon: url("#{$icons-folder}/error.svg"),
    height: 25px,
    margin: 5px,
    width: 25px
);

$icon-error-inverse: (
    icon: url("#{$icons-folder}/error-inverse.svg"),
    height: 25px,
    margin: 5px,
    width: 25px
);