$icon-menu: (
    icon: url("blah:"),
    height: 20px,
    margin: 5px,
    width: 20px
);

$icon-close: (
    icon: url("blah:"),
    height: 20px,
    margin: 5px,
    width: 20px
);

$icon-info: (
    icon: url("blah:"),
    height: 20px,
    margin: 5px,
    width: 20px
);

$icon-success: (
    icon: url("blah:"),
    height: 20px,
    margin: 5px,
    width: 20px
);

$icon-warning: (
    icon: url("blah:"),
    height: 20px,
    margin: 5px,
    width: 20px
);

$icon-error: (
    icon: url("blah:"),
    height: 20px,
    margin: 5px,
    width: 20px
);