// =============================================================================
//      COLOR CONSTANTS
//
//      variables for hex color values
//
// =============================================================================
$color-white: #fff;
$color-steel: #b4c2cd;
$color-silver: #8CA5BA;
$color-silver-dark: #33526C;
$color-silver-darker: #26455F;
$color-silver-darkest: #1E3951;
$color-silver-blue: #142E44;
$color-silver-black: #061724;
$color-black: #000;

$color-aqua: #2BB6D9;
$color-aqua-dark: #1490AF;
$color-aqua-darker: #0983A2;
$color-aqua-darkest: #027593;

$color-fern-lightest: #A4E2B4;
$color-fern: #4BA362;
$color-fern-darker: #399651;
$color-fern-darkest: #2D8944;

$color-salmon-lightest: #FFC0C0;
$color-salmon: #E75656;
$color-salmon-darker: #D54747;
$color-salmon-darkest: #C44242;

$color-sky-lightest: #C4E6FF;
$color-mango-lightest: #FFCB9B;