$component-page-header-background-color: $theme-primary !default;
$component-page-header-site-context-background-color: $theme-base !default;
$component-page-header-navigation-border-color: $component-border-color !default;
//Menu Close Text and Icon
$component-page-header-content-close-color: $theme-text-primary !default;
$component-page-header-content-close-color-hover: $theme-text-primary !default;
$component-page-header-content-close-color-active: $theme-text-primary !default;
$component-page-header-content-close-color-visited: $theme-text-primary !default;
$component-page-header-content-close-color-focus: $theme-text-primary !default;
//Menu Open Text and Close
$component-page-header-content-open-color: $theme-text-primary !default;
$component-page-header-content-open-color-hover: $theme-text-primary !default;
$component-page-header-content-open-color-active: $theme-text-primary !default;
$component-page-header-content-open-color-visited: $theme-text-primary !default;
$component-page-header-content-open-color-focus: $theme-text-primary !default;