$component-secondary-nav-background-color: $theme-primary !default;
$component-secondary-nav-border: none !default;
$component-secondary-nav-link-color: $theme-text-primary !default;
$component-secondary-nav-link-color-hover: $theme-text-primary !default;
$component-secondary-nav-link-color-focus: $theme-text-primary !default;
$component-secondary-nav-link-color-visited: $theme-text-primary !default;
$component-secondary-nav-link-color-active: $theme-text-primary !default;
//Link Background and Border for Hover and Active
$component-secondary-nav-link-background-color: initial !default;
$component-secondary-nav-link-background-color-hover: $theme-primary-2 !default;
$component-secondary-nav-link-background-color-active: $theme-primary-3 !default;
$component-secondary-nav-link-background-color-focus: initial !default;
$component-secondary-nav-link-border-color-active: $theme-accent !default;