// =============================================================================
//      DESCRIPTIVE COLORS
//      variables for hex color values
// =============================================================================

$color-apple: #bf3030;
$color-apple-dark: #a12828;
$color-apple-darkest: #842020;
$color-aqua: #2bb6d9;
$color-blackboard: #1a2833;
$color-frost: #e0f1f6;
$color-lilia: #f4f4f4;
$color-lilia-dark: #dbdbdb;
$color-lilia-darkest: #c4d1db;
$color-linen: #faf0e6;
$color-mango: #fbb16d;
$color-minty: #e0f4db;
$color-misty-rose: #ffe4e1;
$color-pine: #087e56;
$color-pine-dark: #066a48;
$color-pine-darkest: #055137;
$color-watermelon: #ff7e7e;