$breakpoints: (
    small: 320px,
    medium: 600px,
    large: 768px
);

$component-border-radius: 4px;
$component-border-radius-small: 3px;
$component-border-radius-large: 5px;

$component-border-width: 1px;