// VARIABLES FOR SIZING COMPONENTS AND COMPONENT PARTS

// Borders
$component-border-radius: 4px !default;
$component-border-radius-small: 3px !default;
$component-border-radius-large: 5px !default;

$component-border-width: 1px !default;


// For media queries
// content width plus gutters on each side
$breakpoints: (
    small: 350px,
    medium: 828px,
    large: 1230px
) !default;

$base-size: 12px !default;

$base-content-max-width: 1170px !default;