// =============================================================================
//      THEME PALATTE
//      theme specific variables set to descriptive color variables
//      use these when setting values for $component- variables
//      do not use these to set values for properties (i.e. : background-color)
// =============================================================================
$theme-white: $color-white !default;
$theme-black: $color-black !default;

$theme-base: $color-white !default;
$theme-base-2: $color-gray-lightest !default;
$theme-base-3: $color-gray-lighter !default;
$theme-base-4: tbd !default;

$theme-primary: $color-steel-blue !default;
$theme-primary-2: $color-steel-blue-darker !default;
$theme-primary-3: $color-steel-blue-darkest !default;
$theme-primary-4: $color-charcoal !default;

$theme-accent: $color-asparagus !default;
$theme-accent-2: $color-leaf !default;
$theme-accent-3: $color-leaf-dark !default;
$theme-accent-4: $color-leaf-darker !default;

//FEEDBACK
$theme-feedback: $color-sky-lightest !default;
$theme-feedback-positive: $color-jade-lightest !default;
$theme-feedback-warning: $color-mango-lightest !default;
$theme-feedback-negative: $color-salmon-lightest !default;

//ACTION COLORS
$theme-action: $color-white!default; //used for default and focus states
$theme-action-2: $color-gray-lightest !default; //used for default and focus states
$theme-action-3: $color-gray-lighter !default;

$theme-action-primary: $color-leaf !default; //used for primary default and focus states
$theme-action-primary-2: $color-leaf-dark !default; //used for primary default and focus states
$theme-action-primary-3: $color-leaf-darker !default;

$theme-action-positive: $color-jade !default; //used for positive default and focus states
$theme-action-positive-2: $color-jade-darker !default; //used for positive default and focus states
$theme-action-positive-3: $color-jade-darkest !default;

$theme-action-negative: $color-salmon !default; //used for negative default and focus states
$theme-action-negative-2: $color-salmon-darker !default; //used for negative default and focus states
$theme-action-negative-3: $color-salmon-darkest !default;

//TEXT COLORS
$theme-text-primary: $color-charcoal !default;
$theme-text-inverse: $color-white !default; //used for highlighted text, and text on the alert/feedback colors
$theme-text-secondary: $color-pewter !default; //used for specialized inlines like code, inline quotes, small
$theme-text-tertiary: $color-slate !default;

// Borders
$theme-border-radius: 4px !default;
$theme-border-radius-small: 3px !default;
$theme-border-radius-large: 5px !default;

$theme-border-width: 1px !default;

$theme-base-size: 12px !default;

$theme-content-max-width: 1170px !default;