@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

$font-family-primary: 'Open Sans', 'helvetica', 'arial', 'sans-serif' !default;
$font-family-secondary: 'Open Sans', 'helvetica', 'arial', 'sans-serif' !default;
$font-family-monospace: 'Source Code Pro', monospace !default;

$font-weight-light: 400;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 600;

$font-size-small: 11px;

$text-style-1: (
  family: $font-family-primary,
  desktop-size: 34px,
  mobile-size: 28px,
  weight: $font-weight-semibold,
  transform: uppercase
);

$text-style-2: (
  family: $font-family-primary,
  desktop-size: 22px,
  mobile-size: 21px,
  weight: $font-weight-semibold,
  transform: uppercase
);

$text-style-3: (
  family: $font-family-primary,
  desktop-size: 20px,
  mobile-size: 20px,
  weight: $font-weight-semibold,
  transform: uppercase
);

$text-style-4: (
  family: $font-family-primary,
  desktop-size: 18px,
  mobile-size: 17px,
  weight: $font-weight-semibold,
  transform: uppercase
);

$text-style-5: (
  family: $font-family-primary,
  desktop-size: 16px,
  mobile-size: 16px,
  weight: $font-weight-regular
);

$text-style-6: (
  family: $font-family-primary,
  desktop-size: 14px,
  mobile-size: 14px,
  weight: $font-weight-regular
);