@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

$font-family-base: 'Open Sans', 'helvetica', 'arial', 'sans-serif' !default;
$font-family-secondary: 'Open Sans', 'helvetica', 'arial', 'sans-serif' !default;

@font-face {
    font-family: "Open Sans";
    src: url("#{$font-folder}/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("#{$font-folder}/OpenSans-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("#{$font-folder}/OpenSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("#{$font-folder}/OpenSans-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

