// =============================================================================
//      DESCRIPTIVE COLORS
//      variables for hex color values
// =============================================================================

$color-white: #fff;
$color-silver-white: #b4c2cd;
$color-silver: #8ca5ba;
$color-silver-dark: #617f98;
$color-silver-darker: #46657f;
$color-silver-darkest: #33526c;
$color-silver-blue: #112639;
$color-silver-black: #091c2b;

$color-aqua: #2bb6d9;
$color-aqua-dark: #1390af;
$color-aqua-darker: #0983a2;
$color-aqua-darkest: #017593;

$color-fern-lightest: #a4e2b4;
$color-fern: #4ba362;
$color-fern-darker: #399651;
$color-fern-darkest: #2d8944;

$color-salmon-lightest: #ffc1c1;
$color-salmon: #e85656;
$color-salmon-darker: #d54646;
$color-salmon-darkest: #c54141;

$color-sky-lightest: #c4e6ff;
$color-mango-lightest: #ffcb9b;