// =============================================================================
//      COMPONENT PALETTE
// =============================================================================
//prefix idea:
// a-atomic item (variable would be for colors, text, sizing of atoms - buttons/clickables)
// m-molecule (mostly layout variables, maybe background and molecule specific sizing - navs, modals/dialogs, banner(?), summary(?))
// o-organism (layout, color and sizing - page-header/footer/content, banner(?), summary(?))
// t-template (full page layouts)
// 
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//      CLICKABLES
//      does not include anchors
//      includes tabs, dropdowns, buttons, range slider handles
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

// >>>>>>>>> Default Clickables
$component-clickable-background-color: $color-action !default;
$component-clickable-border-color: $color-border-dark !default;
$component-clickable-text-color:  $color-text-dark !default;

$component-clickable-background-color-hover: $color-action-hover !default;
$component-clickable-border-color-hover: $color-border-dark !default;
$component-clickable-text-color-hover: $color-text-dark !default;

$component-clickable-background-color-active: $color-action-active !default;
$component-clickable-border-color-active: $color-border-dark !default;
$component-clickable-text-color-active: $color-text-dark !default;

// >>>>>>>>> Primary Clickables
$component-clickable-primary-background-color: $color-action-primary !default;
$component-clickable-primary-text-color:  $color-text-dark !default;

$component-clickable-primary-hover-background-color: $color-action-primary-hover !default;
$component-clickable-primary-hover-text-color: $color-text-dark !default;

$component-clickable-primary-active-background-color: $color-action-primary-active !default;
$component-clickable-primary-active-text-color: $color-text-dark !default;

// >>>>>>>>> Disabled Clickables
$component-clickable-disabled-background-color: $color-action-disabled !default;
$component-clickable-disabled-border-color: $color-border-dark !default;
$component-clickable-disabled-text-color:  $color-text-disabled !default;

$component-clickable-disabled-background-color-hover: $color-action-disabled-hover !default;
$component-clickable-disabled-border-color-hover: $color-border-dark !default;
$component-clickable-disabled-text-color-hover: $color-text-disabled !default;

$component-clickable-disabled-background-color-active: $color-action-disabled-active !default;
$component-clickable-disabled-border-color-active: $color-border-dark !default;
$component-clickable-disabled-text-color-active: $color-text-disabled !default;

// >>>>>>>>> Positive Clickables
$component-clickable-positive-background-color: $color-action-positive !default;
$component-clickable-positive-border-color: $color-border-dark !default;
$component-clickable-positive-text-color:  $color-text-dark !default;

$component-clickable-positive-hover-background-color: $color-action-positive-hover !default;
$component-clickable-positive-hover-border-color: $color-border-dark !default;
$component-clickable-positive-hover-text-color: $color-text-dark !default;

$component-clickable-positive-active-background-color: $color-action-positive-active !default;
$component-clickable-positive-active-border-color: $color-border-dark !default;
$component-clickable-positive-active-text-color: $color-text-dark !default;

// >>>>>>>>> Negative Clickables
$component-clickable-negative-background-color: $color-action-negative !default;
$component-clickable-negative-border-color: $color-border-dark !default;
$component-clickable-negative-text-color:  $color-text-dark !default;

$component-clickable-negative-background-color-hover: $color-action-negative-hover !default;
$component-clickable-negative-border-color-hover: $color-border-dark !default;
$component-clickable-negative-text-color-hover: $color-text-dark !default;

$component-clickable-negative-background-color-active: $color-action-negative-active !default;
$component-clickable-negative-border-color-active: $color-border-dark !default;
$component-clickable-negative-text-color-active: $color-text-dark !default;


// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//      OVERLAY
//      used by modals and dialogs... and more things in the future
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//
// >>>>>>>>> Default Overlay
$component-overlay-background-color: rgba($color-background-secondary, 0.5) !default;





// generic component name options
// panel
// box
// pop-up
// overlay

// page-header/footer, persistent, expected, standard, global, reoccuring, consistent 

// types: primary, secondary, postive, negative, disabled, em, inverse
// states: default, hover, active, visited

// do we need wide prioritizing variables
// $component-primary-background-color
// $component-secondary-background-color
// $component-em-background-color

//From JQUERY Theme Roller
// font settings : family, weight, size(em)
// corner radius : corners(px)
// header/toolbar : background color, background texture, border color, text color, icon color
// content : background color, background texture, border color, text color, icon color
// clickable default state: background color, background texture, border color, text color, icon color
// clickable hover state: background color, background texture, border color, text color, icon color
// clickable active state: background color, background texture, border color, text color, icon color
// highlight : background color, background texture, border color, text color, icon color
// error: background color, background texture, border color, text color, icon color
// modal screen for overlays : background color, background texture, overlay opacity
// drop shadows : background color, background texture, shadow opacity, shadow thickness, top offset, left offset, corners(px)
// background color - either white or reverse 