// =============================================================================
//      DESCRIPTIVE COLORS
//      variables for hex color values
// =============================================================================

$apple: #bf3030;
$apple-dark: #a12828;
$apple-darkest: #842020;
$aqua: #2bb6d9;
$blackboard: #1a2833;
$frost: #e0f1f6;
$lilia: #f4f4f4;
$lilia-dark: #dbdbdb;
$lilia-darkest: #c4d1db;
$linen: #faf0e6;
$mango: #fbb16d;
$minty: #e0f4db;
$misty-rose: #ffe4e1;
$pine: #087e56;
$pine-dark: #066a48;
$pine-darkest: #055137;
$watermelon: #ff7e7e;