// =============================================================================
//      THEME PALATTE
//      theme specific variables set to descriptive color variables
// =============================================================================
//
//-primary : denotes the be most used variable in it's category - background-primary is the most used background color.
//-secondary : denotes a variable that is an alternative to the primary category in it's category.  Categories with secondary vars are required to have primary vars.
//-em : denotes a variable that will set a component apart from a primary (and possible seondary) color.
//-inverse : denotes a variable that is the opposite of the primary color.
//
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//      Background Specific
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
$color-background-primary: $color-silver-blue !default;
$color-background-secondary: $color-silver-black !default;
$color-background-em: $color-silver-dark !default;

//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//      Text Specific
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
$color-text-primary: $color-white !default;
$color-text-secondary: $color-silver !default; //used for specialized inlines like code, inline quotes, small
$color-text-inverse: $color-silver-black !default; //used for highlighted text, and text on the alert/feedback colors
$color-text-disabled: $color-steel !default;
$color-text-highlighted-background: $color-aqua !default; //added for <mark>/highlighted inline content

// >>>>>>>>> Links
$color-link: $color-aqua !default;
$color-link-hover: $color-aqua !default;
$color-link-active: red !default;
$color-link-visited: red !default;

// $color-link: $color-aqua !default;
// $color-link-hover: $color-silver-white !default;
// $color-link-active: $color-silver !default;
// $color-link-visited: $color-aqua !default;

$color-link-inverse: $color-white !default;
$color-link-inverse-hover: $color-white !default;
$color-link-inverse-active: $color-white !default;
$color-link-inverse-visited: $color-white !default;

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//      Border/Divider Specific
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
$color-border-primary: $color-silver-darkest !default;
$color-border-inverse: $color-white !default;
$color-border-secondary: $color-aqua !default;
$color-border-disabled: red !default;

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//      Feedback Specific
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
$color-feedback: $color-sky-lightest !default;
$color-feedback-positive: $color-fern-lightest !default;
$color-feedback-warning: $color-mango-lightest !default;
$color-feedback-negative: $color-salmon-lightest !default;

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//      Action Specific
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
$color-action: $color-silver-dark !default; //used for default and focus states
$color-action-focus: $color-silver-dark !default; //used for default and focus states
$color-action-hover: $color-silver-darker !default;
$color-action-active: $color-silver-darkest !default;
$color-action-disabled: $color-silver-dark !default;

$color-action-primary: $color-aqua-dark !default; //used for primary default and focus states
$color-action-primary-focus: $color-aqua-dark !default; //used for primary default and focus states
$color-action-primary-hover: $color-aqua-darker !default;
$color-action-primary-active: $color-aqua-darkest !default;
$color-action-primary-disabled: $color-silver-dark !default;

$color-action-positive: $color-fern !default; //used for positive default and focus states
$color-action-positive-focus: $color-fern !default; //used for positive default and focus states
$color-action-positive-hover: $color-fern-darker !default;
$color-action-positive-active: $color-fern-darkest !default;
$color-action-positive-disabled: $color-silver-dark !default;

$color-action-negative: $color-salmon !default; //used for negative default and focus states
$color-action-negative-focus: $color-salmon !default; //used for negative default and focus states
$color-action-negative-hover: $color-salmon-darker !default;
$color-action-negative-active: $color-salmon-darkest !default;
$color-action-negative-disabled: $color-silver-dark !default;