// =============================================================================
//      THEME PALATTE
//      theme specific variables set to descriptive color variables
// =============================================================================
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//      Initial Priorities
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
// $color-primary: TBD;
// $color-secondary: TBD;
// $color-accent: TBD;
// $color-base: TBD;

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//      Background Specific
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
$color-background: $color-indigo !default;
$color-background-dark: $color-blackboard !default;
$color-background-em: $color-lilia !default;

//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//      Text Specific
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
$color-text-dark: $color-blackboard !default;
$color-text-light: $color-lilia !default;
$color-text-disabled: $color-ash !default;

$color-link-dark: $color-blackboard !default;
$color-link-light: $color-aqua !default;

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//      Border/Divider Specific
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
$color-border-dark: $color-blackboard !default;
$color-border-light: $color-lilia !default;

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//      Feedback Specific
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
$color-feedback: $color-frost !default;
$color-feedback-em: $color-ice;
$color-feedback-positive: $color-wintergreen !default;
$color-feedback-positive-em: $color-minty;
$color-feedback-warning: $color-linen !default;
$color-feedback-warning-em: $color-mango !default;
$color-feedback-negative: $color-misty-rose !default;
$color-feedback-negative-em: $color-watermelon !default;

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//      Action Specific
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
$color-action: $color-lilia !default;
$color-action-hover: $color-lilia-dark !default;
$color-action-active: $color-lilia-darkest !default;

$color-action-primary: $color-aqua;
$color-action-primary-hover: $color-aqua-dark;
$color-action-primary-active: $color-aqua-darkest;

$color-action-disabled: $color-lilia;
$color-action-disabled-hover: $color-lilia;
$color-action-disabled-active: $color-lilia;

$color-action-positive: $color-pine !default;
$color-action-positive-hover: $color-pine-dark !default;
$color-action-positive-active: $color-pine-darkest !default;

$color-action-negative: $color-apple !default;
$color-action-negative-hover: $color-apple-dark !default;
$color-action-negative-active: $color-apple-darkest !default;