// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//      CLICKABLES
//      does not include anchors
//      includes tabs, dropdowns, buttons, range slider handles
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

// >>>>>>>>> Default Clickables
$component-clickable-background-color: $color-action !default;
$component-clickable-text-color:  $color-text !default;

$component-clickable-background-color-focus: $color-action !default;
$component-clickable-text-color-focus:  $color-text !default;

$component-clickable-background-color-hover: $color-action-hover !default;
$component-clickable-text-color-hover: $color-text !default;

$component-clickable-background-color-active: $color-action-active !default;
$component-clickable-text-color-active: $color-text !default;

$component-clickable-background-color-disabled: $color-action-disabled !default;
$component-clickable-text-color-disabled: $color-text-disabled !default;

// >>>>>>>>> Primary Clickables
$component-clickable-primary-background-color: $color-action-primary !default;
$component-clickable-primary-text-color:  $color-text !default;

$component-clickable-primary-background-color-hover: $color-action-primary-hover !default;
$component-clickable-primary-text-color-hover: $color-text !default;

$component-clickable-primary-background-color-active: $color-action-primary-active !default;
$component-clickable-primary-text-color-active: $color-text !default;

$component-clickable-primary-background-color-disabled: $color-action-primary-disabled !default;
$component-clickable-primary-text-color-disabled: $color-text-disabled !default;

// // >>>>>>>>> Disabled Clickables
// $component-clickable-disabled-background-color: $color-action-disabled !default;
// $component-clickable-disabled-border-color: $color-border-dark !default;
// $component-clickable-disabled-text-color:  $color-text-disabled !default;

// $component-clickable-disabled-background-color-hover: $color-action-disabled-hover !default;
// $component-clickable-disabled-border-color-hover: $color-border-dark !default;
// $component-clickable-disabled-text-color-hover: $color-text-disabled !default;

// $component-clickable-disabled-background-color-active: $color-action-disabled-active !default;
// $component-clickable-disabled-border-color-active: $color-border-dark !default;
// $component-clickable-disabled-text-color-active: $color-text-disabled !default;

// >>>>>>>>> Positive Clickables
$component-clickable-positive-background-color: $color-action-positive !default;
$component-clickable-positive-text-color:  $color-text-dark !default;

$component-clickable-positive-background-color-hover: $color-action-positive-hover !default;
$component-clickable-positive-text-color-hover: $color-text !default;

$component-clickable-positive-background-color-active: $color-action-positive-active !default;
$component-clickable-positive-text-color-active: $color-text !default;

$component-clickable-positive-background-color-disabled: $color-action-positive-disabled !default;
$component-clickable-positive-text-color-disabled: $color-text-disabled !default;

// >>>>>>>>> Negative Clickables
$component-clickable-negative-background-color: $color-action-negative !default;
$component-clickable-negative-text-color:  $color-text !default;

$component-clickable-negative-background-color-hover: $color-action-negative-hover !default;
$component-clickable-negative-text-color-hover: $color-text !default;

$component-clickable-negative-background-color-active: $color-action-negative-active !default;
$component-clickable-negative-text-color-active: $color-text !default;

$component-clickable-negative-background-color-disabled: $color-action-negative-disabled !default;
$component-clickable-negative-text-color-disabled: $color-text-disabled !default;