// =============================================================================
//      COMPONENTS
// =============================================================================
//
@import "clickable";
@import "panel";

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//      OVERLAY
//      used by modals and dialogs... and more things in the future
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//
// >>>>>>>>> Default Overlay
$component-overlay-background-color: rgba($color-background-secondary, 0.5) !default;
//
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//      DISABLED CURSOR
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//
$component-cursor-disabled: not-allowed !default; //is this helpful?
//
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//      COMPONENT BACKGROUNDS
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
$component-body-background-color: $color-background-primary !default;
//
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//      BODY TEXT
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//
// >>>>>>>>> Heading Text
$text-style-heading-1: (
  family: $font-family-primary,
  desktop-size: 34px,
  mobile-size: 28px,
  weight: 600,
  transform: uppercase
) !default;

$text-style-heading-2: (
  family: $font-family-primary,
  desktop-size: 26px,
  mobile-size: 24px,
  weight: 600,
  transform: uppercase
) !default;

$text-style-heading-3: (
  family: $font-family-primary,
  desktop-size: 22px,
  mobile-size: 20px,
  weight: 600,
  transform: uppercase
) !default;

$text-style-heading-4: (
  family: $font-family-primary,
  desktop-size: 18px,
  mobile-size: 17px,
  weight: 600,
  transform: uppercase
) !default;

$text-style-heading-5: (
  family: $font-family-primary,
  desktop-size: 16px,
  mobile-size: 16px,
  weight: 600,
  transform: uppercase
) !default;

$text-style-heading-6: (
  family: $font-family-primary,
  desktop-size: 14px,
  mobile-size: 14px,
  weight: 600,
  transform: uppercase
) !default;

// >>>>>>>>> Standard Content Text
$text-style-content-1: (
  family: $font-family-primary,
  desktop-size: 16px,
  mobile-size: 16px,
  weight: 400
) !default;

$text-style-content-2: (
  family: $font-family-primary,
  desktop-size: 14px,
  mobile-size: 14px,
  weight: 400
) !default;

$text-style-content-3: (
  family: $font-family-primary,
  desktop-size: 11px,
  mobile-size: 11px,
  weight: 400
) !default;
//
// 
$component-body-text-color: $color-text-primary !default;
$component-body-text-color-inverse: $color-text-inverse !default;
$component-body-style-default: $text-style-content-1 !default;

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//      BODY LINKS
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
$component-link-color: $color-link !default;











// NOTES
// generic component name options
// panel
// box
// pop-up
// overlay

// page-header/footer, persistent, expected, standard, global, reoccuring, consistent 

// types: primary, secondary, postive, negative, disabled, em, inverse
// states: default, hover, active, visited

// do we need wide prioritizing variables
// $component-primary-background-color
// $component-secondary-background-color
// $component-em-background-color

//From JQUERY Theme Roller
// font settings : family, weight, size(em)
// corner radius : corners(px)
// header/toolbar : background color, background texture, border color, text color, icon color
// content : background color, background texture, border color, text color, icon color
// clickable default state: background color, background texture, border color, text color, icon color
// clickable hover state: background color, background texture, border color, text color, icon color
// clickable active state: background color, background texture, border color, text color, icon color
// highlight : background color, background texture, border color, text color, icon color
// error: background color, background texture, border color, text color, icon color
// modal screen for overlays : background color, background texture, overlay opacity
// drop shadows : background color, background texture, shadow opacity, shadow thickness, top offset, left offset, corners(px)
// background color - either white or reverse 