$component-page-header-background-color: tbd;
$component-page-header-content-close-color: tbd;
$component-page-header-content-close-color-hover: tbd;
$component-page-header-content-open-color: tbd;
$component-page-header-content-open-color-hover: tbd;
$component-page-header-site-context-background-color: tbd;