// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//      BODY TEXT
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//
// >>>>>>>>> Heading Text
$text-style-heading-1: (
  family: $font-family-primary,
  desktop-size: 34px,
  desktop-line-height: 2rem,
  desktop-margin-bottom: 1rem,
  mobile-size: 28px,
  mobile-line-height: 2rem,
  mobile-margin-bottom: 1rem,
  weight: 600,
  transform: uppercase
) !default;

$text-style-heading-2: (
  family: $font-family-primary,
  desktop-size: 26px,
  mobile-size: 24px,
  weight: 600,
  transform: uppercase
) !default;

$text-style-heading-3: (
  family: $font-family-primary,
  desktop-size: 22px,
  mobile-size: 20px,
  weight: 600,
  transform: uppercase
) !default;

$text-style-heading-4: (
  family: $font-family-primary,
  desktop-size: 18px,
  mobile-size: 17px,
  weight: 600,
  transform: uppercase
) !default;

$text-style-heading-5: (
  family: $font-family-primary,
  desktop-size: 16px,
  mobile-size: 16px,
  weight: 600,
  transform: uppercase
) !default;

$text-style-heading-6: (
  family: $font-family-primary,
  desktop-size: 14px,
  mobile-size: 14px,
  weight: 600,
  transform: uppercase
) !default;

// >>>>>>>>> Standard Content Text
$text-style-content-1: (
  family: $font-family-primary,
  desktop-size: 0.75rem,
  desktop-line-height: 1rem,
  desktop-margin-bottom: 1rem,
  mobile-size: 0.75rem,
  mobile-line-height: 1rem,
  mobile-margin-bottom: 1rem,
  weight: 400
) !default;

$text-style-content-2: (
  family: $font-family-primary,
  desktop-size: 14px,
  mobile-size: 14px,
  weight: 400
) !default;

$text-style-content-3: (
  family: $font-family-primary,
  desktop-size: 11px,
  mobile-size: 11px,
  weight: 400
) !default;
//
// 
$component-body-text-color: $color-text-primary !default;
$component-body-text-color-inverse: $color-text-inverse !default;
$component-body-style-default: $text-style-content-1 !default;
