@import "variable-maps/variable-maps";

// =============================================================================
//      THEME PALATTE
//      theme specific variables set to descriptive color variables
//      use these when setting values for $component- variables
//      do not use these to set values for properties (i.e. : background-color)
// =============================================================================
$theme-white: $color-white !default;
$theme-black: $color-black !default;

$theme-base: $color-silver-blue !default;
$theme-base-2: $color-silver-dark !default;
$theme-base-3: $color-silver-darker !default;
$theme-base-4: $color-silver-darkest !default;

$theme-primary: $color-silver-dark !default;
$theme-primary-2: $color-silver-darker !default;
$theme-primary-3: $color-silver-darkest !default;
$theme-primary-4: $color-silver-black !default;

$theme-accent: $color-aqua !default;
$theme-accent-2: $color-aqua-dark !default;
$theme-accent-3: $color-aqua-darker !default;
$theme-accent-4: $color-aqua-darkest !default;

//FEEDBACK
$theme-feedback: $color-sky-lightest !default;
$theme-feedback-positive: $color-fern-lightest !default;
$theme-feedback-warning: $color-mango-lightest !default;
$theme-feedback-negative: $color-salmon-lightest !default;

//ACTION COLORS
$theme-action: $color-silver-dark !default; //used for default and focus states
$theme-action-2: $color-silver-darker !default; //used for default and focus states
$theme-action-3: $color-silver-darkest !default;

$theme-action-primary: $color-aqua-dark !default; //used for primary default and focus states
$theme-action-primary-2: $color-aqua-darker !default; //used for primary default and focus states
$theme-action-primary-3: $color-aqua-darkest !default;

$theme-action-positive: $color-fern !default; //used for positive default and focus states
$theme-action-positive-2: $color-fern-darker !default; //used for positive default and focus states
$theme-action-positive-3: $color-fern-darkest !default;

$theme-action-negative: $color-salmon !default; //used for negative default and focus states
$theme-action-negative-2: $color-salmon-darker !default; //used for negative default and focus states
$theme-action-negative-3: $color-salmon-darkest !default;

//TEXT COLORS
$theme-text-primary: $color-white !default;
$theme-text-inverse: $color-silver-black !default; //used for highlighted text, and text on the alert/feedback colors
$theme-text-secondary: $color-silver !default; //used for specialized inlines like code, inline quotes, small
$theme-text-tertiary: $color-steel !default;